# bins
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
out/
/downboy

# go test & profiles
*.test
*.out
*.prof
coverage.txt

# secrets
.env
*.local

# cache
.golangci-lint.cache/

# ides & os stuff
.vscode/
.DS_Store
Thumbs.db
